@import "tailwindcss";

@theme {
	--font-title: var(--font-title);
	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--color-primary: #1f2937;
	--color-background: #faf9f5;
	--color-foreground: #fff;
}

h1,
h2,
h3,
h4,
h5 {
	@apply font-title font-semibold tracking-tight;
}
